<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: content}">
<head>
    <title th:text="${book.id == null} ? 'Add Book' : 'Edit Book'"></title>
</head>
<body>
    <h1>Создать новую книгу</h1>
    <form th:action="@{/books/save_book}" th:object="${book}" method="post">
        <label for="title">Название:</label>
        <input type="text" id="title" th:field="*{title}" required />

        <label for="author">Автор:</label>
        <input type="text" id="author" th:field="*{author}" required />

        <label for="genere">Жанр:</label>
        <input type="text" id="genere" th:field="*{genere}" required />

        <label for="quantity">Количество:</label>
        <input type="number" id="quantity" th:field="*{quantity}" required />

        <label for="depositAmount">Депозит:</label>
        <input type="number" step="0.01" id="depositAmount" th:field="*{depositAmount}" required />

        <label for="rentalCost">Стоимость аренды:</label>
        <input type="number" step="0.01" id="rentalCost" th:field="*{rentalCost}" required />

        <button type="submit">Создать книгу</button>
    </form>
    <a th:href="@{/books}">Вернуться к списку книг</a>
</body>
</html>
