<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Добавить книгу в корзину</title>
</head>

<body>
    <div th:insert="~{layout :: content}"></div>
    <div class="container">
        <h2>Добавить книгу в корзину читателя</h2>
        <form th:action="@{'/admin/users-readers/' + ${userReaderID} + '/cart/new'}" method="post">
            <input type="hidden" name="readerId" th:value="${reader.id}" />
            <div>
                <label for="reader">Читатель:</label>
                <span th:text="${reader.lastName + ' ' + reader.firstName + ' ' + reader.middleName}"></span>
            </div>
            <div>
                <label for="book">Книга:</label>
                <select id="book" name="bookId" required>
                    <option value="" disabled>Выберите книгу</option>
                    <option th:each="book : ${books}" th:value="${book.id}" th:text="${book.title}"></option>
                </select>
            </div>
            <button type="submit">Добавить книгу в корзину</button>
        </form>
        <!-- Исправленная ссылка с Thymeleaf -->
        <div class="action-buttons">
            <a th:href="@{'/admin/users-readers/' + ${userReaderID} + '/cart'}" class="home-button"
                role="button">Вернуться</a>
        </div>
    </div>
</body>

</html>