<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Арендованные книги</title>
    
</head>

<body>
    <div th:insert="~{layout :: content}"></div>
    <header>
        <h1>Арендованные книги читателя</h1>
    </header>
    <div class="main-content">
        <!-- Отображаем имя читателя -->
        <h2 th:text="'Читатель: ' + ${reader.lastName} + ' ' + ${reader.firstName} + ' ' + ${reader.middleName}"></h2>

        <!-- Таблица аренд -->
        <table>
            <thead>
                <tr>
                    <th>ID аренды</th>
                    <th>Название книги</th>
                    <th>Дата выдачи</th>
                    <th>Ожидаемая дата возврата</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="rental : ${rentals}">
                    <td th:text="${rental.id}"></td>
                    <td th:text="${rental.book.title}"></td>
                    <td th:text="${rental.issueDate}"></td>
                    <td th:text="${rental.expectedReturnDate}"></td>
                </tr>
            </tbody>
        </table>
        <!-- Кнопка "Создать аренду" -->
        <div class="action-buttons">
            <a th:href="@{/admin/users-readers/{userReaderID}/rentals/new(userReaderID=${userReader.id})}"
                class="create-rental-button">Создать аренду</a>
        </div>
        <!-- Кнопка "На главную" -->
        <button type="button" onclick="window.history.back()" class="action-back">Вернуться</button>
    </div>
</body>

</html>