<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Список корзин</title>
</head>
<body>
    <div th:insert="~{layout :: content}"></div>
    <h2>Список корзин</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Пользователь</th>
                <th>Книга</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="cart : ${carts}">
                <td th:text="${cart.id}">ID</td>
                <td th:text="${cart.reader.lastName + ' ' + cart.reader.firstName}">Пользователь</td>
                <td th:text="${cart.book.title}">Книга</td>
                <td>
                    
                    <a th:href="@{/admin/carts/edit/{id}(id=${cart.id})}">Редактировать</a>
                    <a th:href="@{/admin/carts/delete/{id}(id=${cart.id})}">Удалить</a>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <button th:onclick="|window.location.href='@{/admin/carts/new}'|">Добавить</button>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
