<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="${cart.id == null} ? 'Добавить корзину' : 'Изменить корзину'"></title>
</head>

<body>
    <div th:insert="~{layout :: content}"></div>
    <div class="container">
        <!-- Заголовок -->
        <h2 th:text="${cart.id == null} ? 'Добавить корзину' : 'Изменить корзину'"></h2>

        <!-- Форма -->
        <form th:action="${cart.id == null} ? @{/admin/carts/save_cart} : @{/admin/carts/update_cart}"
            th:object="${cart}" method="post" th:method="${cart.id == null} ? 'post' : 'patch'">

            <!-- Скрытое поле ID -->
            <input type="hidden" th:field="*{id}" />

            <!-- Выбор читателя -->
            <label for="reader">Читатель:</label>
            <select id="reader" th:field="*{reader.id}" required>
                <option value="" disabled selected>Выберите читателя</option>
                <option th:each="reader : ${readers}" th:value="${reader.id}"
                    th:text="${reader.lastName + ' ' + reader.firstName}">
                </option>
            </select>

            <!-- Выбор книги -->
            <label for="book">Книга:</label>
            <select id="book" th:field="*{book.id}" required>
                <option value="" disabled selected>Выберите книгу</option>
                <option th:each="book : ${books}" th:value="${book.id}" th:text="${book.title}">
                </option>
            </select>

            <!-- Сообщение об ошибке -->
            <div th:if="${error != null}" class="error">
                <p th:text="${error}">Ошибка</p>
            </div>

            <!-- Кнопка отправки -->
            <button type="submit" th:text="${cart.id == null} ? 'Создать корзину' : 'Сохранить изменения'"></button>
        </form>
        <!-- Кнопка возвращения -->
        <a th:href="@{/admin/carts}" class="action-back">← Вернуться к списку корзин</a>
    </div>
</body>

</html>