<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Список книг</title>
    <link rel="stylesheet" th:href="@{/css/goods.css}" />
</head>
<body>
    <header>
        <h1>Добро пожаловать, <span th:text="${username}">Пользователь</span></h1>
        <a href="/profile" class="profile-button">Профиль</a>
        <a href="/cart" class="cart-button">Корзина</a>
        <a href="/rentals" class="rentals-button">Аренды</a>
        <form th:action="@{/logout}" method="post">
            <button type="submit">Выйти</button>
        </form>
    </header>

    <div class="main-content">
        <div class="sort-form">
            <form action="/home" method="get">
                <select name="field" th:value="${selectedField}">
                    <option th:each="field : ${sortFields}" 
                            th:value="${field}" 
                            th:text="${field}" 
                            th:selected="${field} == ${selectedField}">Выберите поле</option>
                </select>
                <button type="submit">Сортировать</button>
            </form>
        </div>
        
        
        

        <div class="book-grid">
            <div th:each="book : ${books}" class="book-item">
                <h3 th:text="${book.title}">Название</h3>
                <div th:if="${bookImages[book.id] != null}">
                    <img th:src="@{|data:${book.image.contentType};base64,${bookImages[book.id]}|}" 
                         alt="Book Image" style="max-width: 250px; max-height: 250px;" />
                </div>
                <div th:if="${bookImages[book.id] == null}">
                    <p>Изображение не найдено.</p>
                </div>
                <p><strong>Автор:</strong> <span th:text="${book.author}">Автор</span></p>
                <p><strong>Жанр:</strong> <span th:text="${book.genre}">Жанр</span></p>
                <p><strong>Количество:</strong> <span th:text="${book.quantity}">Количество</span></p>
                <p><strong>Депозит:</strong> <span th:text="${book.depositAmount}">Депозит</span></p>
                <p><strong>Стоимость аренды:</strong> <span th:text="${book.rentalCost}">Стоимость аренды</span></p>
                <a th:href="@{/admin/books/{id}(id=${book.id})}">Просмотр</a>

                <form th:action="@{/add_to_cart/{id}(id=${book.id})}" th:object="${selectedField}" method="post">
                    <input type="hidden" name="field" th:value="${selectedField}" />
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                    <button type="submit" class="add-button">Добавить в корзину</button>
                </form>
                
            </div>
        </div>
    </div>

</body>
</html>
