<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}">My Application</title>
</head>
<body>
    
    <div th:fragment="content">
        <link rel="stylesheet" th:href="@{/css/styles.css}" />

        
        <div class="container">
            <h1>Крутая библиотека</h1>
            <div class="navigation">
                <button th:onclick="|window.location.href='@{/admin/books}'|">Книги</button>
                <button th:onclick="|window.location.href='@{/admin/rentals}'|">Аренды</button>
                <button th:onclick="|window.location.href='@{/admin/users}'|">Администраторы</button>
                <button th:onclick="|window.location.href='@{/admin/users-readers}'|">Пользователь-читатель</button>
                <form th:action="@{/logout}" method="post">
                    <button type="submit">Выйти</button>
                </form>
            </div>
            <div th:if="${error}" class="error-message">
                <p th:text="${error}"></p>
            </div>
        </div>
    </div>
</body>
</html>
