<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Логин</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container">
        <h2>Вход в систему</h2>
        <form th:action="@{/login}" method="post">
            <div>
                <label for="username">Имя пользователя:</label>
                <input type="text" id="username" name="username" placeholder="Введите имя пользователя" required />
            </div>
            <div>
                <label for="password">Пароль:</label>
                <input type="password" id="password" name="password" placeholder="Введите пароль" required />
            </div>
            <div>
                <button type="submit">Войти</button>
            </div>
        </form>
        <a th:href="@{/register}">Регистрация</a>
    </div>
</body>
</html>
