<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Спасибо за заказ!</title>
    <link rel="stylesheet" th:href="@{/css/order.css}" />
</head>
<body>

    <header>
        <h1>Корзина</h1>
    </header>

    <div class="main-content">
        <p class="thank-you-message">Спасибо за ваш заказ!</p>
        
        <div th:if="${error}" class="error-message">
            <p th:text="${error}"></p>
        </div>
        
        <a th:href="@{/home}" class="home-button">Вернуться на главную</a>
    </div>

</body>
</html>
