<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Профиль читателя</title>
    <link rel="stylesheet" th:href="@{/css/profile.css}" />
</head>
<body>

    <header>
        <h1>Профиль</h1>
    </header>

    <div class="main-content">
        <div class="profile-card">
            <p><span>Фамилия:</span> <span th:text="${reader.lastName}">Фамилия</span></p>
            <p><span>Имя:</span> <span th:text="${reader.firstName}">Имя</span></p>
            <p><span>Отчество:</span> <span th:text="${reader.middleName}">Отчество</span></p>
            <p><span>Адрес:</span> <span th:text="${reader.address}">Адрес</span></p>
            <p><span>Телефон:</span> <span th:text="${reader.phone}">Телефон</span></p>
            <a th:href="@{/profile/edit}" class="edit-button">Редактировать профиль</a>
        </div>
        <a th:href="@{/}" class="action-back">← Вернуться</a>
    </div>

</body>
</html>