<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Корзина</title>
    <link rel="stylesheet" th:href="@{/css/readerCart.css}" />
</head>
<body>
    <header>
        <h1>Корзина</h1>
    </header>
    <div class="main-content">
        <!-- Проверка на пустую корзину -->
        <div th:if="${#lists.isEmpty(cart_elements)}" class="empty-cart-message">
            Ваша корзина пуста.
        </div>

        <!-- Таблица корзины -->
        <table th:if="${not #lists.isEmpty(cart_elements)}">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Название книги</th>
                    <th>Действие</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="cartElement : ${cart_elements}">
                    <td th:text="${cartElement.id}">1</td>
                    <td th:text="${cartElement.book.title}">Название книги</td>
                    <td class="action-buttons">
                        <!-- Форма удаления -->
                        <form th:action="@{/cart/delete_element/{id}(id=${cartElement.id})}" method="post">
                            <input type="hidden" name="_method" value="delete" />
                            <button type="submit" class="delete-button" onclick="return confirm('Вы уверены, что хотите удалить эту книгу из корзины?');">Удалить</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>

        <!-- Кнопка "На главную" -->
        <div class="action-buttons">
            <a href="/home" class="home-button" role="button">Вернуться</a>
        </div>

        <!-- Форма заказа -->
        <form action="/cart/order" method="post" th:if="${not #lists.isEmpty(cart_elements)}">
            <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
            <label for="calendar">Выберите дату возврата:</label>
            <input type="date" id="calendar" name="expectedReturnDate" required min="{{#dates.format(#dates.createNow(), 'yyyy-MM-dd')}}" />
            <button type="submit">Отправить заказ</button>
        </form>
    </div>
</body>
</html>