<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Редактировать профиль</title>
    <link rel="stylesheet" th:href="@{/css/readerSelfEdit.css}" />
</head>
<body>
    <div class="container">
        <h2>Редактировать профиль</h2>
        <form th:action="@{/profile/update_reader}" th:object="${reader}" method="post">
            <input type="hidden" name="_method" value="patch">
            <input type="hidden" th:field="*{id}" />

            <label for="lastName">Фамилия:</label>
            <input type="text" id="lastName" th:field="*{lastName}" required />

            <label for="firstName">Имя:</label>
            <input type="text" id="firstName" th:field="*{firstName}" required />

            <label for="middleName">Отчество:</label>
            <input type="text" id="middleName" th:field="*{middleName}" required />

            <label for="address">Адрес:</label>
            <input type="text" id="address" th:field="*{address}" required />

            <label for="phone">Телефон:</label>
            <input type="text" id="phone" th:field="*{phone}" required />

            <button type="submit">Сохранить изменения</button>
        </form>
        <a class="back-link" th:href="@{/profile}">Вернуться к профилю</a>
    </div>
</body>
</html>
