<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Мои аренды</title>
    <link rel="stylesheet" th:href="@{/css/readerRentals.css}" />
</head>
<body>

    <header>
        <h1>Мои аренды</h1>
    </header>

    <div class="main-content">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Название книги</th>
                    <th>Дата аренды</th>
                    <th>Ожидаемая дата возврата</th>
                    <th>Статус</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="rental : ${rentals}">
                    <td th:text="${rental.id}">1</td>
                    <td th:text="${rental.book.title}">Название книги</td>
                    <td th:text="${rental.issueDate}">2025-01-01</td>
                    <td th:text="${rental.expectedReturnDate}">2025-02-01</td>
                    <td th:text="${rental.returned} ? 'возвращена' : 'не возвращена'"></td>
                </tr>
            </tbody>
        </table>
        <div class="action-buttons">
            <button type="button" onclick="window.history.back()" class="home-button">Вернуться</button>
        </div>
    </div>

</body>
</html>
