<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Список пользователей</title>
</head>
    <div th:insert="~{layout :: content}"></div>
    <h2>Список пользователей</h2>
    <form action="/admin/readers/sort" method="get">
        <select name="field">
            <option th:each="field : ${sortFields}" 
                    th:value="${field}" 
                    th:text="${field}"
                    th:selected="${field} == ${selectedField}">Field</option>
        </select>
        <button type="submit">Sort</button>
    </form>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Отчество</th>
                <th>Адрес</th>
                <th>Телефон</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="reader : ${readers}">
                <td th:text="${reader.id}">ID</td>
                <td th:text="${reader.lastName}">Фамилия</td>
                <td th:text="${reader.firstName}">Имя</td>
                <td th:text="${reader.middleName}">Отчество</td>
                <td th:text="${reader.address}">Адрес</td>
                <td th:text="${reader.phone}">Телефон</td>
                <td>
                    <a th:href="@{/admin/readers/{id}(id=${reader.id})}">Просмотр</a>
                    <a th:href="@{/admin/readers/edit/{id}(id=${reader.id})}">Редактировать</a>
                    <a th:href="@{/admin/readers/delete_reader/{id}(id=${reader.id})}">Удалить</a>
                </td>
            </tr>
            <td colspan="7">
                <button th:onclick="|window.location.href='@{/admin/readers/new}'|">Добавить</button>
            </td>
        </tbody>
    </table>
</body>
</html>
