<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title th:text="${rental.id == null} ? 'Добавить аренду' : 'Изменить аренду'"></title>
</head>

<body>
    <div th:insert="~{layout :: content}"></div>
    <div class="container">
        <h2 th:text="${rental.id == null} ? 'Добавить аренду' : 'Изменить аренду'"></h2>

        <!-- Отображение ошибок, если они есть -->
        <div th:if="${error != null}" style="color: red;" th:text="${error}"></div>

        <form th:action="${rental.id == null} ? @{/admin/rentals/save_rental} : @{/admin/rentals/update_rental}"
            th:object="${rental}" method="post">
            <!-- Скрытое поле ID для редактирования -->
            <input type="hidden" th:field="*{id}" />

            <!-- Используем _method только для PATCH при редактировании -->
            <input th:if="${rental.id != null}" type="hidden" name="_method" value="patch" />

            <label for="reader">Читатель:</label>
            <select id="reader" th:field="*{reader.id}" required>
                <option value="">Выберите читателя</option>
                <option th:each="reader : ${readers}" th:value="${reader.id}"
                    th:text="${reader.lastName + ' ' + reader.firstName}"></option>
            </select>

            <label for="book">Книга:</label>
            <select id="book" th:field="*{book.id}" required>
                <option value="">Выберите книгу</option>
                <option th:each="book : ${books}" th:value="${book.id}" th:text="${book.title}"></option>
            </select>

            <label for="issueDate">Дата выдачи:</label>
            <input type="date" id="issueDate" th:field="*{issueDate}" required />

            <label for="expectedReturnDate">Предполагаемая дата возврата:</label>
            <input type="date" id="expectedReturnDate" th:field="*{expectedReturnDate}" required />

            <label for="returned">Возвращена:</label>
            <input type="checkbox" id="returned" th:field="*{returned}" />
            <label for="received">Получена:</label>
            <input type="checkbox" id="received" th:field="*{received}" />

            <button type="submit" th:text="${rental.id == null} ? 'Создать аренду' : 'Сохранить изменения'"></button>
        </form>

        <a th:href="@{/admin/rentals}" class="action-back">← Вернуться к списку аренд</a>
    </div>
</body>

</html>