<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Пользователь</title>
</head>

<body>
    <div th:insert="~{layout :: content}"></div>
    <h2>Пользователь</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Имя пользователя</th>
                <th>Пароль</th>
                <th>Роль</th>
                <th>Читатель</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td th:text="${user.id}">ID</td>
                <td th:text="${user.username}">Имя пользователя</td>
                <td>********</td> <!-- Скрываем пароль -->
                <td th:text="${user.role}">Роль</td>
            </tr>
            <a th:href="@{/admin/users}" class="btn">Вернуться к списку пользователей</a>
            <a th:href="@{/admin/users/new}" class="btn">Создать нового пользователя</a>
            <a th:href="@{/admin/users/edit/{id}(id=${user.id})}" class="btn">Редактировать</a>
            <!-- Форма для удаления с методом DELETE -->
            <form th:action="@{/admin/users/delete_user/{id}(id=${user.id})}" method="post" style="display: inline;">
                <input type="hidden" name="_method" value="DELETE">
                <button type="submit" class="btn btn-danger"
                    onclick="return confirm('Вы уверены, что хотите удалить пользователя?');">
                    Удалить пользователя
                </button>
            </form>
        </tbody>
    </table>
</body>

</html>