<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Список пользователей и читателей</title>
</head>
<body>
    <div th:insert="~{layout :: content}"></div>

    <h2>Список пользователей и связанных читателей</h2>

    <table>
        <thead>
            <tr>
                <th>ID Связи</th>
                <th>Имя пользователя</th>
                <th>Роль</th>
                <th>Фамилия читателя</th>
                <th>Имя читателя</th>
                <th>Отчество читателя</th>
                <th>Телефон читателя</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="userReader : ${usersReaders}">
                <td th:text="${userReader.id}">ID Связи</td>

                
                <td th:text="${userReader.user != null ? userReader.user.username : 'Не назначен'}">Имя пользователя</td>
                <td th:text="${userReader.user != null ? userReader.user.role : 'Не назначена'}">Роль</td>

                <td th:text="${userReader.reader.lastName}">Фамилия читателя</td>
                <td th:text="${userReader.reader.firstName}">Имя читателя</td>
                <td th:text="${userReader.reader.middleName}">Отчество читателя</td>
                <td th:text="${userReader.reader.phone}">Телефон читателя</td>

                <td>
                    <a th:if="${userReader.user != null}" th:href="@{/admin/users-readers/{id}/edit(id=${userReader.id})}">Редактировать</a>
                    <a th:href="@{/admin/users-readers/{userReaderId}(userReaderId=${userReader.id})}">Подробнее</a>
                    <a th:href="@{/admin/users-readers/{id}/cart(id=${userReader.id})}">Посмотреть корзину</a>
                    <a th:href="@{/admin/users-readers/{id}/rentals(id=${userReader.id})}">Посмотреть аренды</a>
                    <a th:if="${userReader.user == null}" th:href="@{/admin/users-readers/{id}/repair(id=${userReader.id})}">Восстановить</a>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="add-button-container">
        <button th:onclick="|window.location.href='@{/admin/users-readers/new}'|">Добавить пользователя и читателя</button>
    </div>

</body>
</html>
